<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moodlevideo.server.dal.mapper.StarRatingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.moodlevideo.server.dal.model.StarRatingInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="sectionid" property="sectionid" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="REAL" />
    <result column="videotime" property="videotime" jdbcType="CHAR" />
    <result column="happentime" property="happentime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, sectionid, grade, videotime, happentime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from star_rating
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from star_rating
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moodlevideo.server.dal.model.StarRatingInfo" >
    insert into star_rating (id, userid, sectionid, 
      grade, videotime, happentime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{sectionid,jdbcType=VARCHAR}, 
      #{grade,jdbcType=REAL}, #{videotime,jdbcType=CHAR}, #{happentime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moodlevideo.server.dal.model.StarRatingInfo" >
    insert into star_rating
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="sectionid != null" >
        sectionid,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="videotime != null" >
        videotime,
      </if>
      <if test="happentime != null" >
        happentime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="sectionid != null" >
        #{sectionid,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=REAL},
      </if>
      <if test="videotime != null" >
        #{videotime,jdbcType=CHAR},
      </if>
      <if test="happentime != null" >
        #{happentime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moodlevideo.server.dal.model.StarRatingInfo" >
    update star_rating
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="sectionid != null" >
        sectionid = #{sectionid,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=REAL},
      </if>
      <if test="videotime != null" >
        videotime = #{videotime,jdbcType=CHAR},
      </if>
      <if test="happentime != null" >
        happentime = #{happentime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moodlevideo.server.dal.model.StarRatingInfo" >
    update star_rating
    set userid = #{userid,jdbcType=VARCHAR},
      sectionid = #{sectionid,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=REAL},
      videotime = #{videotime,jdbcType=CHAR},
      happentime = #{happentime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>